<div class="container-fluid">
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-12">
        <ul
          class="nav nav-footer justify-content-center justify-content-xl-end"
        >
          <li class="nav-item">
            <div class="copyright text-center text-xl-left text-muted">
              COPYRIGHT. ALL RIGHTS RESERVED | 
              <span class="font-weight-bold ml-1">NUTRALINE LTDA</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
