<ng-template #changeStatusModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Observacion Administrador</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <textarea 
      class="form-control" 
      placeholder="Observacion Administrador"
      [(ngModel)]="changeStatusData.OBS_ADMINISTRADOR"></textarea>
    </div>
  </div>
  <div class=" modal-footer">
    <button
    (click)="closeModal()"
    class=" btn btn-link "
    data-dismiss="modal"
    type="button"
    >
    Cerrar
  </button>
  <button
    (click)="saveChangeStatus()"
    class=" btn btn-primary ml-auto"
    data-dismiss="modal"
    type="button"
    >
    Guardar
  </button>
</div>
</ng-template>

<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 d-inline-block mb-0">Traspasos</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> Monitores </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active">
                Traspasos
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class=" card-header border-0">

          <div class=" row">
            <div class="col-md-4 form-group">
              <input type="text"
               placeholder="Rango de fechas"
               class="form-control"
               bsDaterangepicker
               (bsValueChange)="changeDateRange($event)"
               [(ngModel)]="dateRange"
               [bsConfig]="{ isAnimated: true }">
            </div>
            <div class="col-md-6">
              <input class="form-control" placeholder="Buscar..." [(ngModel)]="searchTable" (input)=onSearchChange($event,null)>
            </div>
            <div class=" col-md-2 text-right">
              <button class="btn btn-primary btn-sm" (click)="generateReport()"> Generar reporte </button>
            </div>
          </div>
          <div class="row">
            <div *ngIf="showMultiActionsFlag" class="col-md-4 offset-md-8">
              <ngx-select-dropdown 
                [(ngModel)]="multiActionsFlag" 
                [ngModelOptions]="{standalone: true}"
                [multiple]="false" 
                [config]="actionConfig" 
                [options]="actions"
                (change)="selectionChanged($event,'action',changeStatusModal)"
                ngDefaultControl 
                class="w-100 h-100"
                ></ngx-select-dropdown>
            </div>
          </div>
        </div>

        <div class=" table-responsive">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
              <tr>
                <ng-container *ngFor="let element of headerElements">  
                  <th class=" sort" data-sort="project" scope="col" *ngIf="(!element.show_flag || (element.show_flag && showMoreColumnsFlag))">
                    {{element.name}}
                  </th>
                </ng-container>
                <th>
                  Ver más
                </th>
              </tr>
              <tr class="header-search-tr">
                <!--*ngIf="(!item.show_flag || (item.show_flag && showMoreColumnsFlag))"-->
                <ng-container *ngFor="let item of headerElements">
                  <th class="" scope="col" *ngIf="(!item.show_flag || (item.show_flag && showMoreColumnsFlag))" >
                    <div *ngIf="item.name=='SELECCIÓN'" class=" custom-control custom-checkbox" style="text-align: center;">
                      <input
                        class=" custom-control-input"
                        id="table-check-all"
                        type="checkbox"
                        (change)="checkboxChanged($event,'all')"
                      />
      
                      <label class=" custom-control-label" for="table-check-all">
                      </label>
                    </div>
                    
                    <input 
                    *ngIf="item.name!='SELECCIÓN' && item.name!='ACCIONES'"
                    (input)="onSearchChange($event,item.name)"
                    type="text" 
                    placeholder="{{item.name}}" 
                    class="form-control header-search">

                    <div *ngIf="item.name=='ACCIONES'" class="text-center">
                      <i class="fa fa-bars"></i>
                    </div>
                  </th>
                </ng-container>
                <th>
                  <button class="btn btn-primary" (click)="showMoreColumnsFlag=!showMoreColumnsFlag">
                    <i class="fa fa-plus"></i>
                  </button>
                </th>
              </tr>
            </thead>

            <tbody class=" list">
              <tr 
                *ngFor="let transfer of ( transfers | filterByColumn : elementFilter | genericFilter: searchTable );index as i"
               >
                
                <th>
                  <div class=" custom-control custom-checkbox" style="text-align: center;">
                    <input
                      class=" custom-control-input"
                      id="table-check-{{i}}"
                      type="checkbox"
                      [checked]="transfer.checked"
                      (change)="checkboxChanged($event,transfer)"
                    />
    
                    <label class=" custom-control-label" for="table-check-{{i}}">
                    </label>
                  </div>
                </th>
                <td class=" budget">{{transfer.ID}}</td>
                <th scope="row">
                  <div class=" media align-items-center">
                    <div class=" media-body">
                      <span class=" name mb-0 text-sm">
                        {{transfer.ESTADO_INTEGRACION}}
                      </span>
                    </div>
                  </div>
                </th>

                <td class=" budget">{{transfer.FECHA_TRANSACCION}}</td>

                <td>
                  <span class=" badge badge-dot mr-4">
                    <i class=" bg-warning"> </i>
                    <span class=" status"> {{transfer.SKU}} </span>
                  </span>
                </td>
                  <td class=" budget">{{transfer.SKU_NUEVO}}</td>
                  <td class=" budget">{{transfer.CANTIDAD}}</td>
                  <td class=" budget">{{transfer.CONTRATO_ACTUAL}}</td>
                  <td class=" budget">{{transfer.ESTADO}}</td>
                  <td class=" budget">{{transfer.CONTRATO_NUEVO}}</td> 
                  <td class=" budget">{{transfer.ESTADO_NUEVO}}</td>
                  <td class=" budget">{{transfer.LOTE}}</td>
                  <td class=" budget">{{transfer.LOTE_NUEVO}}</td>
                  <td class=" budget">{{transfer.ALMACEN_ACTUAL}}</td>
                  <td class=" budget">{{transfer.ALMACEN_NUEVO}}</td>
                  <td class=" budget">{{transfer.PALLET}}</td>
                  <td class=" budget" *ngIf="showMoreColumnsFlag">{{transfer.FOLIO_GOLDEN_FROST}}</td>
                  <td class=" budget" *ngIf="showMoreColumnsFlag">{{transfer.DOCNUM}}</td>
                  <td class=" budget" *ngIf="showMoreColumnsFlag">{{transfer.UxC}}</td>
                  <td class=" budget" *ngIf="showMoreColumnsFlag">{{transfer.UxC_nuevo}}</td>
                  <td class=" budget" *ngIf="showMoreColumnsFlag">{{transfer.OBS_REGLA}}</td>
                  <td class=" budget" *ngIf="showMoreColumnsFlag">{{transfer.OBS_ADMINISTRADOR}}</td>

                <td class=" text-right">
                  <div class="dropdown no-caret" dropdown>
                    <a
                      aria-controls="dropdown-basic"
                      class=" btn btn-sm btn-icon-only text-light dropdown-toggle"
                      dropdownToggle
                      href="javascript:void(0)"
                      role="button"
                    >
                      <i class=" fas fa-ellipsis-v"> </i>
                    </a>

                    <div
                      class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                      *dropdownMenu
                    >
                      <a *ngIf="transfer.ESTADO_INTEGRACION=='NO_PROCEDE_REGLA' || 
                        transfer.ESTADO_INTEGRACION=='PROCEDE_MONITOR' || 
                        transfer.ESTADO_INTEGRACION=='REPROCESO'" 
                        href="javascript:void(0)" 
                        class="dropdown-item"
                        (click)="changeStatus(changeStatusModal,transfer.ID,'PROCEDE_USU')">
                        Liberar 
                      </a>

                      <a *ngIf="transfer.ESTADO_INTEGRACION=='NO_PROCEDE_REGLA' || 
                        transfer.ESTADO_INTEGRACION=='PROCEDE_MONITOR' || 
                        transfer.ESTADO_INTEGRACION=='REPROCESO'" 
                        href="javascript:void(0)" 
                        class="dropdown-item"
                        (click)="changeStatus(changeStatusModal,transfer.ID,'RECHAZADO')">
                        Rechazar
                      </a>

                      <a *ngIf="transfer.ESTADO_INTEGRACION=='NO_PROCEDE_REGLA' || 
                        transfer.ESTADO_INTEGRACION=='PROCEDE_MONITOR' || 
                        transfer.ESTADO_INTEGRACION=='REPROCESO'" 
                        href="javascript:void(0)" 
                        class="dropdown-item"
                        (click)="changeStatus(changeStatusModal,transfer.ID,'CERRADO')">
                        Cerrar
                      </a>
                    </div>
                  </div>
                </td>
                <td class=" budget"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class=" card-footer py-4">
          <nav aria-label="...">
            <pagination
              [totalItems]="totalItems"
              [maxSize]="5"
              [rotate]="true"
              (pageChanged)="pageChanged($event)"
              class="justify-content-end mb-0"
              previousText="<i class='fas fa-angle-left'></i>"
              nextText="<i class='fas fa-angle-right'></i>"
            >
            </pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
